{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}

{% block page_title %}Hours Approval - DEMO{% endblock %}

{% block main %}
    {% if warningNoUsers is defined %}
      {% if warningNoUsers %}
        {{ widgets.callout('danger', 'warning.noUserToApprove'|trans) }}
      {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-md-12" id="ApprovalBundle-content">
            <div class="card">
                <div class="card-header">
                    {% if canViewHoursApproval %}
                        {{ include('@Approval/navigation.html.twig') }}
                    {% endif %}
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        {% block report %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Support Contact Information -->
    <div class="row mt-3">
        <div class="col-md-12 text-end">
            <small class="text-muted">
                <i class="fas fa-life-ring"></i> For support reach <strong>Mitchell Artz</strong>
            </small>
        </div>
    </div>
{% endblock %}
